*{
    margin: 0;
    padding: 0;
}

.clock{
    position: relative;
    height: 100vh;
}
.clock-container{
    position: absolute;
    padding:300px 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 10px solid #f1a;
    border-radius: 100%;
    background-color: #dfa;
}
.clock-container-contents > .clock-number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 시간 숫자 위치 조정 */
.clock-number > p{
    position: absolute;
    text-align: center;
    font-family: "S-Core Dream 6";
    font-size: 3em;
    font-weight: 700;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clock-number > .clock_12{
    transform: translate(-50%, -400%);
}
.clock-number > .clock_1{
    transform: translate(360%, -350%);
}
.clock-number > .clock_2{
    transform: translate(620%, -220%);
}
.clock-number > .clock_3{
    transform: translate(750%, -50%);
}
.clock-number > .clock_4{
    transform: translate(620%, 120%);
}
.clock-number > .clock_5{
    transform: translate(350%, 250%);
}
.clock-number > .clock_6{
    transform: translate(-50%, 300%);
}
.clock-number > .clock_7{
    transform: translate(-450%, 250%);
}
.clock-number > .clock_8{
    transform: translate(-700%, 120%);
}
.clock-number > .clock_9{
    transform: translate(-850%, -50%);
}
.clock-number > .clock_10{
    transform: translate(-380%, -220%);
}
.clock-number > .clock_11{
    transform: translate(-270%, -350%);
}

.clock-container-contents > .clock-hand  > .clock-center{
    position: absolute;
    padding: 30px 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: #f1a;
}

/* 시간의 시침(hour-hand)설정 */
.clock-container-contents > .clock-hand > .clock-hour-hand{
    position: absolute;
    width: 8px;
    height: 100px;
    transform: translate(-50%, -100%);
    transform-origin: center bottom;
    background-color: #611c31;
}
/* 시간의 분침(minute-hand)설정 */
.clock-container-contents > .clock-hand > .clock-minute-hand{
    position: absolute;
    width: 6px;
    height: 150px;
    transform: translate(-50%, -100%);
    transform-origin: center bottom;
    background-color: #d400ff;
}
/* 시간의 초침(second-hand)설정 */
.clock-container-contents > .clock-hand > .clock-second-hand{
    position: absolute;
    width: 4px;
    height: 200px;
    transform: translate(-50%, -100%);
    transform-origin: center bottom;
    background-color: #235eff;
}